.page-title {
    margin: 0.75rem 0 1.2rem 0;
}

.page-search {
    margin-bottom: 12px;
}

.table-actions {
    margin-bottom: 1rem;
}

.list-actions {
    vertical-align: middle;
    margin: 4px;
}

.table th {
    vertical-align:middle;
}
